#countries{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country{
    border : 2px solid steelblue;
    background-color: rgb(248, 109, 85);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}